/* css/popup.css */
.popup-box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: calc(vw + 1vh);
    overflow: auto;
    margin-left: 25%;
    margin-top:25%;
    background-color: rgba(0, 0, 0, 0.4);

}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #0b0909;
    width: 90%;
    overflow: scroll;
}
.popup-content img{
    width: 30px;
    z-index: 3;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pop-title {
    color: #9d7ebe;
    text-align: center;
}

@media (max-width: 768px) {
    .popup-box{
        width: 90%;
        margin-top: 10%;
        scale: 70%;
        margin-left: 5%
    }
    
}