* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100%;
}

.page-container-top {
    display: flex;
    justify-content: center;
    align-self:start;
    align-items: flex-start;
}

.page-container-bot {
    display: flex;
    justify-content: center;
    align-self: start;
    align-items: flex-start;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-bottom: 1%;
}

.title img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 3%;
    margin-bottom: 8%;
    z-index:-1;
}

.os{
    display: flex;
    justify-content: center;
    align-self: start;
    height: 100%;
    transform: translateY(-18vh); 
    position: relative;
    margin-top: .6vh;
}
.os img{
    width: 90%;
    height: 100%;
    object-fit:contain;
    position:relative;
    z-index: -1;
}

.os-grid{
    width: 100%;
    height: 100%;
    display: grid;
    object-fit: contain;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%; /* Adjust grid gap */
    padding: 30% 30% 50% 15%; /* Adjust padding */
    position: absolute;
    z-index: 1;
    background: none; /* Remove the background color */
    scale: 110%;
}
.os-grid a{
    text-decoration: none;
}

.os-text {
    text-align: center;
    transform: translateX(-.5vh); 
    color:rgb(133, 255, 119);
    font-size: calc(.5vw + 1vh); /* Adjust the values based on your desired scaling */
}

.os a img {
    transition: backdrop-filter 0.3s ease-in-out;
}

.os a:hover img {
    image-rendering:crisp-edges;
}



@media (max-width: 768px) {
    .title{
    width: 40%
        
    }
    
}

