.basic-window {
    background-color: #c0c0c0; /* Gray background */
    border: 1px solid #000000; /* Black border */
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.688); /* Adds subtle drop shadow */
    position: absolute;
}

@media (max-width: 600px) {
    .window-content {
        zoom:.7;
    }

}

@media (max-width: 450px) {
    .window-content {
        zoom:.6;
    }
}
@media (max-width: 400px) {
    .window-content {
        zoom:.5;
    }
}
.window-header {
    background: linear-gradient(to right, navy, #1084d0); /* Gradient */
    display: flex;
    justify-content:space-between;
    padding: 5px;
    align-items: center;
}

.name-icon{
    display: flex;
    margin: 0px 5px;
}
.window-controls{
    display: flex;
}

.header-item{
    margin-right: 5px;
}


.basic-window {
    transform: translate3d(0, 0, 0);
}

.directory-title {
    color:white;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    font-family: 'Windows95', sans-serif; /* Fallback to sans-serif if custom font doesn't load */ 
    /*align directory left*/
}

.top-btn {
    width: 15px;
    height: 15px;
    padding: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #c0c0c0;
    border-width: 2px; /* Width of the border */
    border-style: outset; /* 3D border effect */
    border-color: #ffffff #808080 #808080 #ffffff;
    box-sizing: border-box;
    cursor:pointer;
}

.minimize{
    background-color:#f0f6c2;
}
.maximize{
    background-color:#abfcb8;
}
.close{
    background-color:#fd857b;
}

.corner-img {
    width: 17px;
    height: 17px;
    padding: 0px;
}


.window-content {
    border: 2px outset rgb(95, 89, 89); /* Beveled border */
    margin: 5px 0; /* Margin to separate it from other elements */
     /* Makes the content scrollable if it overflows the box */
}


.minimized{
    display: none;
}

