.window-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; /* Position the top edge of the element at the center of the viewport */
    left: 50%; /* Position the left edge of the element at the center of the viewport */
    transform: translate(-50%, -50%); 
}
.basic-window {
    background-color: #c0c0c0; /* Gray background */
    border: 1px solid #000000; /* Black border */
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.688); /* Adds subtle drop shadow */
    position: fixed;
    z-index: 999;
    width: 400px;
    height: 500px;
    z-index: 999;
    visibility: hidden;
}
.basic-window iframe{
        height: 500px;
        width:390px;
        padding-left: 45px;
        padding-top: 10px;
}

.window-header {
    background: linear-gradient(to right, navy, #1084d0); /* Gradient */
    display: flex;
    justify-content:space-between;
    padding: 5px;
    align-items: center;
    height:30px;
}

.name-icon{
    display: flex;
    align-items: center;
    margin: 0px 5px;
    position: relative;
    z-index: 1;
}
.window-controls{
    display: flex;
}

.header-item{
    margin-right: 5px;
}


.basic-window {
    transform: translate3d(0, 0, 0);
}

.directory-title {
    color:white;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    font-family: 'Windows95', sans-serif; /* Fallback to sans-serif if custom font doesn't load */ 
    /*align directory left*/
}

.top-btn {
    width: 15px;
    height: 15px;
    padding: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #c0c0c0;
    box-shadow: inset -2px -2px 2px rgba(0,0,0,0.2), inset 2px 2px 2px rgba(255,255,255,0.2);
    border: 1px solid #000;
    box-sizing: border-box;
    cursor:pointer;
}

.corner-img {
    width: 20px !important;
    height: 20px !important;
    background-color: #000000;
    padding: 0px;
    position: relative;
    z-index: 2;
}



.window-content {
    border: 2px outset rgb(95, 89, 89); /* Beveled border */
    margin: 5px 0; /* Margin to separate it from other elements */
     /* Makes the content scrollable if it overflows the box */
}


.minimized{
    display: none;
}

