@font-face {
    font-family: 'Windows95';
    src: url('../fonts/w95fa.woff2') format('woff2');
    /* Add 'format' based on your font file format */
    font-weight: normal;
    font-style: normal;
  }
  h1{
    font-family: 'Windows95', sans-serif;
    text-align: center;
    width: 100%;  /* ensures the text container spans the entire width */
    position: absolute;  /* takes it out of the normal flow */
    top: 0;  /* aligns it at the top of the container */
    left: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  /* drop shadow */
  }

  .music-player {
    width: 400px;
    height: 150px;
    background-color: #c0c0c0;
    border: 1px solid #000000;
    /* border-radius: 5px; Removed to make border straight */
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.688); /* Adds subtle drop shadow */
    position: absolute;
    left: 10vw;
    top: 6vw;
    /* rest of your styles */
}

.directory-window {
    width: 500px;
    height: 470px;
    background-color: #c0c0c0; /* Gray background */
    border: 1px solid #000000; /* Black border */
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.688); /* Adds subtle drop shadow */
    position: absolute;
    top: 10vw;
    left: 50vw;
}

@media only screen and (max-width: 600px) {
    .music-player {
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9); /* translate centers it and scale reduces its size to 90% */
    }
    .directory-window {
        top: 64%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.7); /* translate centers it and scale reduces its size to 70% */
    }
}




.player-header {
    background: linear-gradient(to right, navy,#1084d0); /* Simple gradient */
}
.player-header, .player-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.music-title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
    padding-right: 5px;
    font-family: 'Windows95', sans-serif; /* Fallback to sans-serif if custom font doesn't load */
    /* Other styles */
}

.btn {
    width: 15px;
    height: 15px;
    padding: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #c0c0c0;
    box-shadow: inset -2px -2px 2px rgba(0,0,0,0.2), inset 2px 2px 2px rgba(255,255,255,0.2);
    border: 1px solid #000;
    box-sizing: border-box;
}


.corner-img {
    width: 17px;
    height: 17px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
}

.player-controls .btn {
    margin: 0 40px;
    width: 40px;
    height:18px;
}

.player-header .btn {
    margin: 0 10px;
}

.player-timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.timeline-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: white;
    outline: none;
    border: 1px solid #000000;
    overflow: hidden;
}

/* Chrome, Safari */
.timeline-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #a59a9a;
    cursor: pointer;
    border: 1px solid #000000;
    box-shadow: 
      1px 1px 1px rgba(255, 255, 255, 0.2), 
      -1px -1px 1px rgba(0, 0, 0, 0.2);
}

/* Firefox */
.timeline-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #a59a9a;
    cursor: pointer;
    border: 1px solid #000000;
    box-shadow: 
      1px 1px 1px rgba(255, 255, 255, 0.2), 
      -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-slider::-moz-range-progress {
    background: #ffffff;
}

.timeline-slider::-moz-range-track {
    background: white;
}

/* IE/Edge */
.timeline-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #a59a9a;
    cursor: pointer;
    border: 1px solid #000000;
    box-shadow: 
      1px 1px 1px rgba(255, 255, 255, 0.2), 
      -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-slider::-ms-fill-lower {
    background: #a59a9a;
}

.timeline-slider::-ms-fill-upper {
    background: white;
}

.song-time {
    font-size: 12px;
    color: #000000;
    font-family:'Windows95', sans-serif; /* Fallback to sans-serif if custom font doesn't load */
}

.player-controls .btn:hover {
    background-color: #808080;
    box-shadow: inset 2px 2px 2px rgba(255,255,255,0.2), inset -2px -2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}


.song-name {
    color: #03ff00;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family: 'Windows95', sans-serif;
    padding: 5px;
    background-color: black;
    border: 2px outset white;
    margin: 5px 0;
}

.window-header {
    background: linear-gradient(to right, navy, #1084d0); /* Gradient */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.directory-title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    font-family: 'Windows95', sans-serif; /* Fallback to sans-serif if custom font doesn't load */
    margin-left: -63%; /*align directory left*/
}

.directory-content {
    background-color: #86bbb5; /* background */
    border: 2px outset rgb(95, 89, 89); /* Beveled border */
    padding: 5px; /* Padding to give space around the content */
    margin: 5px 0; /* Margin to separate it from other elements */
    height: 400px; /* You can adjust this to fit your needs */
    overflow: auto; /* Makes the content scrollable if it overflows the box */
}

.window-content {
    padding: 5px;
}

.window-controls {
    display: flex;
    gap: 20px; /* Adjust this value or remove it entirely */
    justify-content: flex-end; /* Add this */
}


/* Similar hover effects for the buttons */
.window-controls .btn:hover {
    background-color: #808080;
    box-shadow: inset 2px 2px 2px rgba(255,255,255,0.2), inset -2px -2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}

.window-header, .window-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header-left {
    display: flex;
    align-items: center;
}

.home img{
    position: fixed;
    bottom: .1vh;
    right: .1vh;
    z-index:10;
    scale: 60%;
}
.home span{
    position: fixed;
    z-index:11;
    bottom: 2px;
    right: 48px;
    padding: 1vh;
    color:cornflowerblue;
    scale: 80%;
}

#secret-text{
    margin-top: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#secret-input{
    width: 20%;  /* ensures the text container spans the entire width */
    position: absolute;  /* takes it out of the normal flow */
    top: 0;  /* aligns it at the top of the container */
    left: 40%;
    margin-top: 140px;
}
#secret-btn{
    width: 10%;  /* ensures the text container spans the entire width */
    position: absolute;  /* takes it out of the normal flow */
    top: 0;  /* aligns it at the top of the container */
    left: 46%;
    margin-top: 180px;
    font-family: 'Windows95', sans-serif;
}