@font-face {
    font-family: 'Windows95';
    src: url('../fonts/w95fa.woff2') format('woff2');
    /* Add 'format' based on your font file format */
    font-weight: normal;
    font-style: normal;
  }
body{
    background-color: #86bbb5; /* background */
    overflow:hidden;
}


.directory-content {
    display: flex;
    flex-direction: row;
    grid-gap: 4px;
    align-content: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 17px;
}

.dir-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 10px;
    width:83px;
    flex-shrink: 0; 
    flex-basis: 83px; /* Add this line */
    padding-bottom: 20px;
    padding-top:15px;
}

.dir-item:hover {
    background-color: #ADD8E6; /* Light blue color on hover */
}

.dir-item:active {
    transform: scale(0.9); /* Slightly shrink the item on click */
}


.dir-item img {
    width: 50px;  /* Set the width as per your requirement */
    height: 50px;  /* Set the height as per your requirement */
}

.dir-item span{
    font-weight: bold;
    padding-right: 5px;
    font-family: 'Windows95', sans-serif;
    text-wrap: wrap;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
    width: 100px;
}
