body{
    background-color: #000000;
    color:#ffffff;
}

.journal-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    gap:10px;
}

.journal-title img {
    width: 30px;
    transform: translateY(-5px);
  }

.entry-container{
    display: flex;
    flex-direction: row;
}

.entry-container{
    display:flex;
    flex-direction:row;
    margin-bottom:25px;
}

.entry-container .entry-img{
    align-self: center;
    margin-right:20px;
}
.entry{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
    font-family: 'Menlos';
    width:50%;
}

.entry-body{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:20px;
}

.entry-date{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.entry-date .time{
    font-size:10px;
}
.entry-title{
    font-size: 22px;
}

.entry-txt{
    font-size: 18px;
}

.entry-img{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}
.entry-img img{
    width:200px;
    height:215px;
    object-fit: contain;
    margin-top:30px;
}
.line-break {
    overflow-x: auto; /* or overflow: auto; if you want vertical overflow too */
    white-space: nowrap; /* Prevent the text from wrapping */
    font-size: 24px;
  }
.entry-count{
    position:relative;
    align-self: flex-end;
    justify-self: flex-end;
    transform: translateY(22px);
    font-size: 6px;
    font-family: 'Windows95';
}
.bottom{
    height:40px;
}

@font-face {
    font-family: 'Windows95';
    src: url('../fonts/w95fa.woff2') format('woff2');
    /* Add 'format' based on your font file format */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Menlos';
    src: url('../fonts/Menlo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


